body {
  line-height: normal;
  width: auto;
}

#welcomeLine {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: 200;
  position: relative;
  color: rgb(145, 56, 56);
  letter-spacing: 3px;
  margin-bottom: 20px;
  padding-top: 20%;
  /*background: rgba(255, 255, 255, 0.7);*/
}

.intro {
  font-family: 'Roboto', cursive;
  font-size: 25px;
  font-weight: 300;
  margin: 10px;
  line-height: normal;
  color: rgb(20, 12, 12);
}

.typingEffect {
  top: 50%;
  margin-top: 220px;
  height: 300px;
}

.mdl-checkbox {
  margin-bottom: 30px;
  width: 100%;
}

.mdl-selectfield select {
  color: black;
}

.mdl-selectfield label, .mdl-selectfield select{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


#wrap {
  max-width: 600px;
  margin:150px auto;
}

#typed {
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: 100;
  position: relative;
  color: rgb(255, 255, 255);
  /*background-color: rgba(224, 224, 224, 0.62);*/
  letter-spacing: 3px;
  margin-bottom: 20px;
  line-height: -2em;
}

#searchBar {
}

.demo-card-square {
  /*margin-left: -60px;*/
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.demo-card-square #whereToFindUs {
  background-image: url(../hp/org/04.jpg);
  background-size: cover;
  height: 200px;
  color: white;
}

.mdl-card__actions .mdl-button {
  /*background-color: rgb(177, 68, 68);*/
  /*color: white;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.mdl-textfield {
  margin-bottom: 32px;
}

 footer {
 }

.mdl-layout__header {
  background-color: transparent;
}


 .backgroundSlideshow,
 .backgroundSlideshow:after {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   z-index: -1;
 }


/*Normal mobile */
 @media (min-width: 320px) {
   #uniHeading {
     position: absolute;
     font-size: 17px;
   }

   #textLogoR{
     display: none;
   }

   .backgroundSlideshow {
     visibility: hidden;
   }

   body {
     background-image: url(../hp/org/3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
   }

   /*.mdl-layout, .mdl-js-layout {
     visibility: visible;
   }*/
   #textLogo h2 {
     color: rgba(255, 255, 255, 0.77);
     transform: scale(1.00);
     -webkit-transform: scale(1.00);
     -moz-transform: scale(1.00);
     -o-transform: scale(1.00);
     -ms-transform: scale(1.00);
   }

   #textLogo p {
     transform: scale(1.0);
     font-weight: bolder;
     -webkit-transform: scale(1.0);
     -moz-transform: scale(1.0);
     -o-transform: scale(1.0);
     -ms-transform: scale(1.0);
   }

   header {
     height: 40px;
     position: absolute;
   }

   #welcomeLine {
     font-size: 30px;
     padding-top: 140px;
   }

   header img {
    visibility: hidden;
   }

   #textLogo {
     visibility: visible;
     margin-left: 18%;
   }

   header nav a {
     visibility: hidden;
   }

   footer {
     position: relative;
     margin-top: 90px;
   }

   footer section h4 {
     font-size: 18px;
     font-weight: 100;
     letter-spacing: 2px;
   }

   footer section p {
     font-size: 12px;
     font-family: 'Roboto', cursive;
     letter-spacing: 2px;
     line-height: 90%;
   }

   footer section p em {
     border: 0px;
   }

   #cr {
     font-size: 15px;
     /*font-family: 'Roboto', cursive;*/
   }

   .subscription {
     margin-top: -50px;
     float: left;
     margin-left: 15px;
     margin-bottom: -30px;
   }

   .socialMedia {
     padding-left: 8px;
     margin-top: 20px;
     float: left;
     margin-left: 8px;
     width: 350px;
     margin-bottom: 70px;
   }

   .socialMedia h2, .subscription h2 {
     font-size: 20px;
     letter-spacing: 1.5px;
     margin-bottom: 0px;
   }

   .socialMedia .circleLink {
     height: 35px;
     width: 35px;
   }

   .subscription .mdl-textfield {
     margin-top: -20px;
   }

   .subscription .btnSubscribe {
     margin-top: 10px;
     margin-bottom: 20px;
   }
   }

/* phablet size */
@media (min-width: 412px) {
  #uniHeading {
    position: absolute;
  }

  #welcomeLine {
    font-size: 35px;
    padding-top: 140px;
  }

  .backgroundSlideshow {
    visibility: hidden;
  }

  body {
    background-image: url(../hp/org/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

    header img {
     visibility: hidden;
    }

    #textLogo {
      visibility: visible;
      margin-left: 23%;
    }
     header nav a {
       visibility: hidden;
     }

     footer section h4 {
       font-size: 18px;
       letter-spacing: 3px;
     }

     footer section p {
       font-size: 15px;
       font-family: 'Codystar', cursive;
       letter-spacing: 2px;
       line-height: 90%;
     }

     footer section p em {
       border: 0px;
     }

     footer {
       /*margin-top: 40%;*/
     }

     #cr {
       font-size: 15px;
     }

     header {
       position: absolute;
     }

     .subscription {
       margin-top: -50px;
       float: left;
       margin-left: 15px;
       margin-bottom: -30px;
     }

     .socialMedia {
       padding-left: 12px;
       margin-top: 20px;
       float: left;
       margin-left: 18px;
       width: 390px;
       margin-bottom: 70px;
     }

     .socialMedia h2, .subscription h2 {
       font-size: 22px;
       letter-spacing: 2.5px;
       margin-bottom: 0px;
     }

     .socialMedia .circleLink {
       height: 35px;
       width: 35px;
     }

     .subscription .mdl-textfield {
       margin-bottom: 5px;
       margin-top: -20px;
     }

 }

 /* kindle size */
 /*@media (min-width: 550px) {
   #uniHeading {
     position: absolute;
   }

   #welcomeLine {
     font-size: 35px;
     padding-top: 140px;
   }

   .backgroundSlideshow {
     visibility: hidden;
   }

   body {
     background-image: url(Resources/hp/org/3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
   }

     header img {
      visibility: hidden;
     }

     #textLogo {
       visibility: visible;
       margin-left: 23%;
     }
      header nav a {
        visibility: hidden;
      }

      footer section h4 {
        font-size: 18px;
        letter-spacing: 3px;
      }

      footer section p {
        font-size: 15px;
        font-family: 'Codystar', cursive;
        letter-spacing: 2px;
        line-height: 90%;
      }

      footer section p em {
        border: 0px;
      }

      #cr {
        font-size: 15px;
      }

      header {
        position: absolute;
      }

      .subscription {
        margin-top: 120px;
        width: 550px;
        margin-left: -195px;
        margin-bottom: 0px;
      }

      .socialMedia {
        padding-left: 12px;
        margin-top: 20px;
        float: left;
        margin-left: 18px;
        width: 390px;
        margin-bottom: 70px;
      }

      .socialMedia h2, .subscription h2 {
        font-size: 22px;
        letter-spacing: 2.5px;
        margin-bottom: 0px;
      }

      .socialMedia .circleLink {
        height: 40px;
        width: 40px;
      }

      .subscription .mdl-textfield {
        margin-top: -20px;
      }

      .subscription .btnSubscribe {
        margin-top: -70px;
        margin-bottom: 0px;
      }

  }*/

 /* Just about a tablet */
 @media (min-width: 750px) {
   #welcomeLine {
     font-size: 50px;
     padding-top: 100px;
   }

   header img {
    visibility: hidden;
   }

   .backgroundSlideshow {
     visibility: hidden;
   }

   body {
     background-image: url(../hp/org/3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
   }

   #textLogo h2 {
     color: rgba(255, 255, 255, 0.77);
     transform: scale(1.3);
     -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
     -o-transform: scale(1.3);
     -ms-transform: scale(1.3);
   }

   #textLogo p {
     transform: scale(1.3);
     font-weight: bolder;
     -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
     -o-transform: scale(1.3);
     -ms-transform: scale(1.3);
   }

   #textLogo {
     visibility: visible;
     margin-left: 35%;
   }

   #uniHeading {
     font-size: 35px;
     position: absolute;
   }

     header nav a {
       visibility: hidden;
     }

     footer {
       position: relative;
       margin-top: 270px;
     }

     footer section h4 {
       font-size: 23px;
       letter-spacing: 7px;
     }

     footer section p {
       font-size: 20px;
       font-family: 'Codystar', cursive;
       letter-spacing: 2px;
       line-height: 90%;
     }

     footer section p em {
       border: 0px;
     }

     #cr {
       font-size: 15px;
     }

     header {
       position: absolute;
     }

     .subscription {
       margin-top: 20px;
       float: left;
       width: 380px;
       margin-top: -140px;
       margin-bottom: -30px;
     }

     .socialMedia {
       margin-top: 20px;
       float: right;
       width: 390px;
       margin-right: -580px;
       margin-bottom: 70px;
     }

     .socialMedia h2, .subscription h2 {
       font-size: 22px;
       letter-spacing: 2.5px;
       margin-bottom: 0px;
     }

     .socialMedia .mdl-button {
       margin-bottom: 5px;
       margin-right: 0.5px;
       /*width: 120px;*/
       text-align: left;
     }

     .subscription .mdl-textfield {
       margin-bottom: 5px;
       margin-top: -20px;
     }

 }

 /* Larger than desktop */
 @media (min-width: 1200px) {

   #welcomeLine {
     font-size: 80px;
   }

   #textLogoR {
     display: block;
   }

   #uniHeading {
     position: fixed;
     font-size: 32px;
     margin-top: 12px;
     /*transform: translate(-120%)*/
   }

   .backgroundSlideshow {
     visibility:  visible;
   }

   header img {
    visibility: visible;
    margin-left: 0px;
    z-index: 12;
   }

   header {
     height: 90px;
     position: fixed;
   }

   #textLogo {
     visibility: hidden;
   }

     header nav a {
       font-size: 14px;
       visibility: visible;
     }

     footer {
       margin-top: 290px;
       position: relative;
     }

     footer section h4 {
       font-size: 23px;
       letter-spacing: 7px;
     }

     footer section p {
       font-size: 22px;
       font-family: 'Codystar', cursive;
       letter-spacing: 2px;
       line-height: 90%;
     }

     footer section p em {
       border: 0px;
     }

     #cr {
       font-size: 15px;
     }

     .subscription {
       margin-top: -90px;
       float: left;
       width: 450px;
       margin-left: 350px;
       margin-bottom: -30px;
     }

     .socialMedia {
       margin-top: 20px;
       float: right;
       width: 390px;
       margin-right: -780px;
       margin-bottom: 20px;
     }

     .socialMedia h2, .subscription h2 {
       font-size: 22px;
       letter-spacing: 6.5px;
       margin-bottom: 0px;
     }

     .socialMedia .mdl-button {
       margin-bottom: 5px;
       margin-right: 0.5px;
       /*width: 120px;*/
       text-align: left;
     }

     .subscription .mdl-textfield {
       margin-bottom: 5px;
       margin-top: -20px;
     }

     /* rules defined below will only render in chrome browser - no other browser
     margin top is what keeps subscripe button inline with email text field*/
     @supports (-webkit-appearance:none) {
       #btnSend {
         margin-top: 13px;
       }
     }

     _:-moz-tree-row(hover), #btnSend {
       margin-top: -67px;
     }

     @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
         #btnSend {
             margin-top: 167px;
         }
     }
     /*#btnSend {
       margin-top: 13px;
     }*/

 }
